body {
  background-color: #34b7eb;
  font-family: georgia;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #2588b0;
  }

}
p {}

h1 {}

h2 {}

img {
  width: 1000px;
}
